## SukiSU Ultra support config fragment

CONFIG_KSU_SUKI=y

#
# KernelSU
#
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_MULTI_MANAGER_SUPPORT is not set
CONFIG_KSU_MANUAL_HOOK=y
# CONFIG_KSU_THRONE_TRACKER_LEGACY is not set
# CONFIG_KSU_ALLOWLIST_WORKAROUND is not set
CONFIG_KSU_MANUAL_SU=y
# CONFIG_KSU_CMDLINE is not set
CONFIG_KPM=y
CONFIG_FSTABDT_DISABLE=y
CONFIG_NOMOUNT=y

#
# KernelSU - SUSFS
#
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y
CONFIG_KSU_SUSFS_SUS_MEMFD=y
# end of KernelSU - SUSFS
# end of KernelSU
# end of Device Drivers
